@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 24px;
}

.deep-blue {
  color: #375E97;
}

.orange-red {
  color: #FB6542;
}

.yellow-orange {
  color: #FFBB00;
}

.fa-video {
  color: #FB6542;
  margin-right: 6px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #375E97;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--white:after {
  background-color: white;
}









/*

HOME PAGE

*/

#home-page {
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  margin: 0 24px;
}

.nav__content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.nav__logo,
.nav__logo--white {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}

.nav__logo {
  color: #375E97;
}

.nav__logo--white {
  color: white;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link,
.nav__link--white {
  margin: 0 12px;
  font-size: 18px;
  font-weight: 700;
}

.nav__link {
  color: #242424;
}

.nav__link:hover {
  color: #375E97;
}

.nav__link--white {
  color: white;
}

.nav__contact,
.nav__contact--white {
  margin-left: 24px;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
}

.nav__contact {
  background-color: #375E97;
  color: white;
}

.nav__contact:hover {
  background-color: #FB6542;
}

.nav__contact--white {
  background-color: white;
  color: #375E97;
}

.nav__contact--white:hover {
  background-color: #FFBB00;
  color: white;
}


/*

HEADER

*/


header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  text-align: center;
}

.header__title {
  font-size: 50px;
}

.header__sub-title {
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.search__input {
  margin-right: 24px;
  padding: 12px 24px;
  border-radius: 16px;
  border-color: #375E97;
  font-size: 24px;
  width: 100%;
  max-width: 600px;
  height: 70px;
}

.search__btn {
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 20px;
  background-color: #375E97;
}

.search__btn:hover {
  background-color: #FB6542;;
}

.home__search--icon {
  color: white;
  font-size: 40px;
}


.header__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 36px;
}

.header__img {
  width: 100%;
}




/*     FIND MOVIES         */


/* SEARCH HEADER */


.search__header {
  position: relative;
}

.header__background {
  background-image: url(./assets/StockCake-Cinema\ Sunset\ Scene_1729648570.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#375E97;
  opacity: 0.7;
}

.search__header--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serach__header--title {
  color: white;
  font-size: 45px;
  margin: 32px 0;
}

.search__header-input--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 56px;
}

.search__header-input {
  width: 100%;
  height: 60px;
  font-size: 24px;
  padding-left: 20px;
  border: none;
}

.find__movies-search--icon {
  position: absolute;
  right: 20px;
  font-size: 32px;
  color: #375E97;
}

.find__movies-search--icon:hover {
  color:#FFBB00;
}


/* SEARCH CONTAINER */

.loading__bar {
  width: 100%;
  height: 5px;
  background-color: #375E97;
  opacity: 0.5;
}

.search__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.filter__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 36px 0;
}

.drop-down__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__filter {
  width: 100%;
}

.filter__title {
  font-size: 32px;
  color: #375E97;
  font-weight: 700;
}

.drop-down__caption {
  font-size: 24px;
  margin-bottom: 8px;
  color: #375E97;
}

.movie__filter {
  font-size: 16px;
  height: 32px;
  border: 3px solid #375E97;
  border-radius: 25px;
  text-align: center;
}

.movie__filter:hover {
  border-color: #FB6542;
}

.option {
  border-color: #375E97;
}

.option:hover {
  border-color: #FB6542;
}

